* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 5px;
}

.section {
  background-color: #000;
  color: white;
}

.hidden {
  display: none;
}

.icon-up {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 10000;
}

.fa-regular.fa-circle-up {
  font-size: 40px;
  color: rgb(214, 28, 28);
  cursor: pointer;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  padding: 10px;
  width: 60%;
  font-size: 16px;
  margin: 10px;
  color: white;
  border: rgb(115, 115, 115) solid 1px;
  border-radius: 5px;
  background-color: transparent;
}

button[type="submit"],
.button {
  background-color: rgb(214, 28, 28);
  color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  text-decoration: none;
}

input[type]:focus {
  outline: none;
}

/* Header */
.header-logo img {
  width: 120px;
  margin: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

/* Main page + Movies page */
.hero {
  font-family: "Arial", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
  background: url("img/background.jpg") no-repeat center/cover fixed;
  height: 100vh;
}

.hero,
.movies-container {
  background-color: #000;
}
.hero-overlay {
  position: absolute;

  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.85));
  z-index: 1;
}

.hero-container {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 700px;
  margin: auto;
  padding: 200px 20px 50px 20px;
}

.hero-container h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.movies,
.movies-overview,
.movies-overview-container {
  padding: 50px 20px;
  background-color: #000;
  text-align: center;
}

.movies-overview {
  min-height: 100vh;
}

.movies-container,
.movies-overview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movies-container img,
.movies-overview-container a img {
  width: 250px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.rotate img {
  transform: rotate(3deg);
}

.movies-container img:hover,
.movies-overview-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(161, 161, 161, 0.6);
  cursor: pointer;
}

.movies a.button,
.movies-overview a.button {
  display: inline-block;
  margin: 50px auto;
}

/* Movies page */
.custom-select {
  position: relative;
  display: inline-block;
  width: 200px;
  margin: 20px;
  height: 30px;
  background-color: rgb(37, 37, 37);
  color: white;
}

/* Registration page */
.registration {
  padding: 50px 20px;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration form {
  max-width: 700px;
  width: 100%;
}

/* Footer */
.footer {
  background-color: #000;
  padding: 60px 0;
}

.footer-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-container ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.footer-container li {
  margin-bottom: 14px;
}

.footer-container a {
  color: #b3b3b3;
  font-size: 16px;
}

.footer-container a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .footer-container {
    justify-content: center;
  }

  .footer-container ul {
    width: 50%;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .footer-container ul {
    width: 100%;
  }
}
